body {
    padding-top: 5em;
    background-color: #f05f40;
}

.navbar{
    background-color: #85caf5;
}

.footerpaddingfix{
    padding-bottom: 699px;
}

.darkfont{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}