html,body {
    height: 100%;
    padding-top: 25px;
    background-color: #f05f40;
}

.content{
    height:auto !important;
    margin: 0 auto -45px; 
    min-height: 100%;
    
}

.about1{
    padding-top: 3em;
    padding-bottom: 2em;
}

.about2{
    padding-top: 3em;
    background-color: #fff;
}

.navbar{
    color: #f05f40;
}

.navbar-default{
    background-color: #f05f40;
}

.imgformat{
    width: 15em;
    height: 22em;
}

.lgimgformat{
    float: left;
    padding-bottom: 2em;
}

.lgimgtext{
    padding-top: 5em;
    padding-left: 18em;
}

.imgtext{
    padding-bottom: 1em;
}

.lastimg{
    padding-bottom: 8em;
    width: 15em;
    height: 28em;
}

.lastimgtext{
    margin-top: -7em;
    padding-bottom:5em;
}

.xstextformatting{
    padding-left: 2em;
    padding-right: 2em;
}