body {
  overflow: hidden;
}

.container.deckholder{
    overflow:hidden;
}
    
.btn-container {
  display: none;
}

#BackButton {
  margin-right: 20px;
}

.navbar{
    background-color: #f05f40;
}

#NoCardsMessage {
  display: none;
}

.actbtn {
  margin: 0 auto;
  margin-top: 10px;
}

.card {
  cursor: hand;
/*  border-style: solid;
  border-width: 1px; */
}

a:hover {
  text-decoration: none;
}

.card.flipped{
   transform: translateX( -100% ) rotateY(180deg );
   -webkit-transform: translateX( -100% ) rotateY(180deg );
   -moz-transform: translateX( -100% ) rotateY(180deg );
}

.card {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;

    position: relative;
}

.front, .back {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility: hidden;
}

.card .front {
  z-index: 2;

  /* for firefox 31 */
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.card .back {
    transform:  rotateY(180deg);
    -webkit-transform:  rotateY(180deg);
    -moz-transform:  rotateY(180deg);

    height: 100%;
    width: 100%;
}

.rotate-left {
  transform: rotate(0deg) scale(0.8);
  -webkit-transform: rotate(0deg) scale(0.8);
  -moz-transform: rotate(0deg) scale(0.8);

  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;

  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  background-color: green;
}

.rotate-right {
  transform: rotate(0deg) scale(0.8);
  -webkit-transform: rotate(0deg) scale(0.8);
  -moz-transform: rotate(0deg) scale(0.8);

  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;

  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  background-color: red;
}

.face{
    padding: 10px;
}

.card{
    transform-origin: right center;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
}

