{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href='{% static "shared/css/about.css" %}'>
<div class="content">
  <div class="about1 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">About Thor</h2>
          <hr/>
          <p>Thor Flashcards reinvents the idea of immersion at home. The most common way to learn a language is to read news articles and blogs in the language you're trying to learn. A tedium develops from the constant back-and-forth between on the one hand, translating words that are unfamiliar, and on the other hand, trying to remember these words. What happens is that because the process of translating the word is such a diversion from the source media, the context in which the word was used becomes forgotten, removing an integral part of the language learning experience.</p>
          
          <p>Thor Flashcards aims to solve this problem by providing a suite of applications which enable fast translation of words through a plugin (for the Google Chrome browser), and the ability to directly add these translated words to a flashcard set. Current technologies allow for plugin translation (see WordReference Chrome Plugin), and other software allows for flashcard usage (see Anki, Memrise), but none combines the two functionalities and it is our belief that serving this niche vitally improves the fluidity in which one can immerse themselves in a language of their choice from their computer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about2" style="width:auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">About Us</h2>
          <hr/>
        </div>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/ruchames.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/ruchames.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Andrew Ruchames is a computer science student and a member of Princeton's class of 2017. He is interested in operating systems, with emphasis on concurrent programming, interprocess communications, and file systems. When not coding, he can be found speaking foreign languages - specifically he is learning Chinese, French, and Latin.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Andrew Ruchames is a computer science student and a member of Princeton's class of 2017. He is interested in operating systems, with emphasis on concurrent programming, interprocess communications, and file systems. When not coding, he can be found speaking foreign languages - specifically he is learning Chinese, French, and Latin.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/semelhago.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/semelhago.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Andrew Semelhago is an operations research student and a member of Princeton's class of 2017. He is passionate about data sciences, with emphasis on statistics, machine learning, and artificial intelligence. He can be found cycling when not working.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Andrew Semelhago is an operations research student and a member of Princeton's class of 2017. He is passionate about data sciences, with emphasis on statistics, machine learning, and artificial intelligence. He can be found cycling when not working.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/andronic.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/andronic.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Cristian Andronic is a computer science student and a member of Princeton's class of 2017. He is interested in physics, computer science, and human resources.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Cristian Andronic is a computer science student and a member of Princeton's class of 2017. He is interested in physics, computer science, and human resources.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/lu.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/lu.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Edward Lu PhD is a computer science student and a member of Princeton's class of 2017. He is interested in proving properties about planar graphs and attempting solutions at intractable problems through implementing simulation-based methodologies. When not working on theory, he can be found doing research in topology and advanced combinatoric. Also, big data.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Edward Lu PhD is a computer science student and a member of Princeton's class of 2017. He is interested in proving properties about planar graphs and attempting solutions at intractable problems through implementing simulation-based methodologies. When not working on theory, he can be found doing research in topology and advanced combinatoric. Also, big data.</p> </div>
      <div class="row">
        <img class="wow bounceIn imgformat lastimg lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/zhang.png" %}'>
        <img class="wow bounceIn imgformat lastimg visible-xs center-block" src='{% static "shared/img/zhang.png" %}'>
        <p class="imgtext xstextformatting lastimgtext visible-xs">Mike Zhang is a religion major in the member of Princeton's class of 2017. He is interested in the intersection fields of computer science and religion, specifically computational meditation, statistical creationism, and functional ethics. When not implementing a deity, he can be found questioning humanity.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Mike Zhang is a religion major in the member of Princeton's class of 2017. He is interested in the intersection fields of computer science and religion, specifically computational meditation, statistical creationism, and functional ethics. When not implementing a deity, he can be found questioning humanity.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
