{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href='{% static "shared/css/about.css" %}'>
<div class="content">
  <div class="about1 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">About Thor</h2>
          <hr/>
          <p>Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
          
          <p>Ad vel primis putant eligendi, mei ullum dolor cu, tamquam tacimates antiopam in qui. Pri justo semper pertinacia ne, modus atqui prodesset sea ad. Vis id dicit option albucius, at quaeque hendrerit mediocritatem nam. Feugait praesent scribentur et usu, no quot pertinacia usu, eu viris latine pericula ius.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about2" style="width:auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">About Us</h2>
          <hr/>
        </div>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/ruchames.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/ruchames.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/semelhago.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/semelhago.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/andronic.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/andronic.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/lu.png" %}'>
        <img class="wow bounceIn imgformat visible-xs center-block" src='{% static "shared/img/lu.png" %}'>
        <p class="imgtext xstextformatting visible-xs">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>      
      </div>
      <div class="row">
        <img class="wow bounceIn imgformat lastimg lgimgformat visible-lg visible-md visible-sm" src='{% static "shared/img/zhang.png" %}'>
        <img class="wow bounceIn imgformat lastimg visible-xs center-block" src='{% static "shared/img/zhang.png" %}'>
        <p class="imgtext xstextformatting lastimgtext visible-xs">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
        <p class="imgtext lgimgtext visible-lg visible-md visible-sm">Lorem ipsum dolor sit amet, duo ad quaeque fastidii corrumpit, an mediocrem assueverit interesset eum. Ad vim munere insolens. Vim an saepe dolores apeirian. Eos id malis vivendo quaerendum.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
