{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<header class="visible-lg visible-md visible-sm">
  <div class="header-content wrapper">
    <div class="header-content-inner">
      <h1>Thor Flashcards</h1>
      <h3></h3>
      <p>The flashcard app of the future is finally here! Flexible, responsive, convenient, made with <em>you</em> in mind.</p>
      <hr>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<header class="visible-xs headerxs bg-primary">
  <div class="header-contentxs wrapper">
    <div class="header-content-innerxs">
      <h1>Thor Flashcards</h1>
      <h3></h3>
      <p style="color:#fff"><strong>The flashcard app of the future is finally here! Flexible, responsive, convenient, made with <em>you</em> in mind.</strong></p>
      <hr>
      <a href="#about" style="background-color: #fff" class="btn btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<section class="getStarted" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Get started with the product you've been waiting for!</h2>
        <hr class="light">
        <p >Thor Flashcards has thought of everything you need to finally learn that language. Thor aims to replicate an immersion experience - a method proven to be the most effective way to learn a language.</p>
        <p>When browsing media in the language of your choice, you will encounter words and idioms you aren't familiar with. With Thor's plugin integration all you have to do is right click the word, and add it to your deck. The translation to your native language will be done automatically. Then, later, you can review the decks you've created. It's as easy as that.</p>
        <a href="../register" class="btn btn-default btn-xl">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Unique Features</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-list wow bounceIn text-primary"></i>
          <h3>Plugin Integrated</h3>
          <p class="text-muted">You can conveniently use our Google Chrome plugin to automatically add words to your decks and translate the ones you don't know.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Personalized</h3>
          <p class="text-muted">Words you are less familiar with will appear more commonly to help you develop your vocabulary uniformly.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-flash wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Responsive</h3>
          <p class="text-muted">Thor is optimized to handle decks as large as you'll ever need.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Flexible</h3>
          <p class="text-muted">Thor has many customizable features to help you learn in an environment most comfortable for you.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Questions?</h2>
        <hr class="primary">
        <p>Ready to get started? Have some questions? Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x wow bounceIn"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:your-email@thorfc.com">feedback@thorfc.com</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
