{% extends "deck_app/deckbase.html" %}

{% block content %}
<div class="content">
  <div class="container deckholder">  
    <h1 class="deck-app-header">{{deck.deck_name}}</h1>
    <h3 class="deck-app-text">{{deck.cards.all.count}} cards</h3>

    <input type="hidden" type="hidden" id="deckId" value="{{ deck.pk }}">

    <a href="{% url 'card_create' deck.pk %}" style="color: black;">
      <button class="btn-lg btn-primary">Add new cards</button>
    </a>

    <a href="{% url 'deck_detail' deck.pk %}" style="color: white;">
      <button class="btn-lg btn-success">Study this deck</button>
    </a>

    <button class="btn" id="DeleteButton" style="float: right;">Delete</button>

    {% for card in deck.cards.all %}
    <div class="list-group-item">
      <button id="del{{card.pk}}" class="btn btn-primary del-card-btn" style="float: right;">
        <span class="glyphicon glyphicon-remove"></span>
      </button>

      <h4 class="list-group-item-heading">{{card.front}}</h4>
      <p class="list-group-item-text">{{card.back}}</p>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}



{% block ownjavascript %}

<script src="/static/js/cardsview.js"></script>

{% endblock ownjavascript %}
