{% extends "deck_app/deckbase.html" %}

{% block owncss %}
<link rel="stylesheet" type="text/css"  href="/static/css/deckview.css">
{% endblock owncss%}

{% block content %}
<div class="content">
  <div class="container deckholder">
    <div class="row fluid">
      <div class="col-md-12">

        <a id="BackButton" class="btn-lg btn-primary" 
            href="{% url 'deck_cards' deck.pk %} ">
          <span class="glyphicon glyphicon-chevron-left"></span>
          Back to {{deck.deck_name}}
        </a>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <div id="ContentCardView"></div>
          </div>

          <div class="col-xs-2 col-sm-offset-3">
            <button id="MissedButton" class="btn btn-primary actbtn">No</button>
          </div>

          <div class="col-xs-2">
            <button id="FlipButton" class="btn btn-default actbtn">Flip</button>
          </div>

          <div id="KnowButton" class="col-xs-2">
            <button id="KnowButton" class="btn btn-success actbtn">Yes</button>
          </div>
        </div>
      </div>

    </div> 
  </div>
</div>
{% endblock content %}
{% block ownjavascript %}
<!--  <script src='//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js'></script> -->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script type="text/javascript" src='/static/shared/js/CardLearner.js'></script>
<script type="text/javascript" src='/static/shared/js/deckview.js'></script>
{% endblock ownjavascript %}
