{% extends "deck_app/deckbase.html" %}

{% block owncss %}
<link rel="stylesheet" type="text/css"  href="/static/css/deckview.css">
{% endblock owncss%}

{% block content %}
<div class="content">
  <div class="container deckholder">
    <div class="row fluid">

      <div class="col-md-6 col-md-offset-3 row">
        <div id="ContentCardView" class="content">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 row" id="CardMeta" style="margin-top: 100px">
        <button class="btn-lg btn-primary" >No</button>
        <button class="btn-lg btn-default" >Flip</button>  
        <button class="btn-lg btn-success" >Yes</button>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}
{% block ownjavascript %}
<!--  <script src='//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js'></script> -->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script type="text/javascript" src='/static/shared/js/CardLearner.js'></script>
<script type="text/javascript" src='/static/shared/js/deckview.js'></script>
{% endblock ownjavascript %}
