{% extends "deck_app/deckbase.html" %}
{% load static %}

{% block owncss %}
<link rel="stylesheet" type="text/css" href='{% static "shared/css/deckapp.css" %}'> 
{% endblock %}

{% block content %}
<div class="content">
  <div class="container deckholder">  
    <div class="row-fluid">

      {% for deck in decks %}
        <a href="/deck/{{deck.pk}}" style="display:block; text-decoration: none; color: black;">
          <div class="col-sm-6">
            <div class="stack">
              {{deck.deck_name}}

              <div class="row-fluid cardmetainfo">
                <div class="col-xs-4">
                  <span class="flag-icon flag-icon-{{deck.fl}}"></span> {{deck.language}}
                </div>
                <div class="col-xs-4">
                  <span class="glyphicon glyphicon-star"></span> {{deck.stars}}
                </div>
                <div class="col-xs-4">
                  <span class="glyphicon glyphicon-eye-open"></span> {{deck.views}}
                </div>
              </div>

            </div>
          </a>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}



{% block ownjavascript %}

{% endblock ownjavascript %}