{% extends "deck_app/deckbase.html" %}
{% load static %}

{% block content %}

<link href='{% static "shared/css/decks.css" %}' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<div class="container-fluid visible-lg visible-md visible-sm">
  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a class="sidebarfont" style="font-size:18px"><strong>{{user.username | title}}'s Overview</strong><span class="sr-only">(current)</span></a></li>
      </ul>
      <hr style="height: 1em">
      <ul class="nav nav-sidebar">
        <li><a class="sidebarfont2" href=""><h4># Words Learned: {{num_cards_learned}}</h4></a></li>
        <li><a class="sidebarfont2" href=""><h4># Cards Created: {{num_cards}}</h4></a></li>
        <li><a class="sidebarfont2" href=""><h4># Decks: {{num_decks}}</h4></a></li> 
      </ul>
      
      <footer class="footer-below footer sidebarfont2 alert alert-warning " style="margin-top: 5em">
        <a href="https://chrome.google.com/webstore/detail/thor-flash-cards-plugin/llhjabkmlmbbkhglhkfdfoilgjapnmdh">
          <a href="https://chrome.google.com/webstore/detail/thor-flash-cards-plugin/llhjabkmlmbbkhglhkfdfoilgjapnmdh" target="_blank"><h5><strong>Get the extension!</strong></h5></a>
        </a>
      </footer>
    </div>
  </div>
</div>

<div class="row visible-xs topbar">
  <div class="nav" style="background-color: #428cba;">
    <ul>
      <li class="active text-center sidebarfont" style="color: white; list-style-type: none; padding-top: 1em; font-size: 18px"><strong>{{user.username | title}}'s Overview</strong></li>
    </ul>
  </div>
  <hr>
  <ul class="nav">
    <li><a class="sidebarfont2" href=""><h4># Words Learned: {{num_cards_learned}}</h4></a></li>
    <li><a class="sidebarfont2" href=""><h4># Cards Created: {{num_cards}}</h4></a></li>
    <li><a class="sidebarfont2" href=""><h4># Decks: {{num_decks}}</h4></a></li>
  </ul>
</div>

<div class="content visible-lg visible-md visible-sm">
  {% for deck in decks %}
  <div class="col-lg-6 col-md-12" style="padding-left: 24em">
    <a href="/decks/{{deck.pk}}" style="display:block; text-decoration: none; color: black">
      <div class="stack">
        {{deck.deck_name}}
        <div class="row-fluid cardmetainfo">
          <div class="col-xs-4">
            <span class="flag-icon flag-icon-{{deck.fl}}"></span> {{deck.language}}
          </div>
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-star"></span> {{deck.stars}}
          </div>
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-eye-open"></span> {{deck.views}}
          </div>
        </div>
      </div>
    </a>
  </div>  
  {% endfor %}
</div>

<div class="content visible-xs" style="padding-bottom:2em">
  {% for deck in decks %}
  <a href="/decks/{{deck.pk}}" style=" display:block; text-decoration: none; color: black">
    <div class="col-lg-1 col-centered">
      <div class="stack">
        {{deck.deck_name}}
        <div class="row-fluid cardmetainfo">
          <div class="col-xs-4">
            <span class="flag-icon flag-icon-{{deck.fl}}"></span> {{deck.language}}
          </div>
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-star"></span> {{deck.stars}}
          </div>
          <div class="col-xs-4">
            <span class="glyphicon glyphicon-eye-open"></span> {{deck.views}}
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% if num_decks > 2 %}
<hr style="height: 2em; visibility: hidden;" class="visible-sm">
{% endif %}
{% if num_decks > 3 %}
<hr style="height: 158em; visibility: hidden;" class="visible-md hidden">
{% endif %}
{% if num_decks > 6 %}
<hr style="height: 58em; visibility: hidden;" class="visible-lg hidden">
{% endif %}
{% if num_decks > 2 %}
<hr style="height: 2em; visibility: hidden;" class="visible-xs hidden"
    {% endif %}

    {% endblock content %}



    {% block ownjavascript %}

    {% endblock ownjavascript %}
