#thorfcIcon {
    all: initial;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1000;
    cursor: pointer;
    cursor: hand;
    width: 20px;
    height: 20px;
}

#bubbleDOM {
  position: absolute;
  width: 240px;
  outline:1px solid #424242;
  overflow-x:hidden;
  overflow-y:hidden;
  z-index:10000;
  background-color: white;
  font-family: 'Merriweather','Helvetica Neue',Arial,sans-serif;
  display: table-cell;
  vertical-align: middle;
  height: 220px;
}

#card{
  position: relative;
}

#bubbleDOM::-webkit-scrollbar {
    display: none;
}

#thorFCfront {
  border: 1px inset #848484;
  font-weight: bold;
  font-size:14px;
  outline: 2px solid #424242;
  margin-right:10px;
  margin-bottom:5px;
  margin-top: 5px;
}

#thorFCback {
  border: 1px inset #848484;
  margin-top:5px;
  font-weight: bold;
  font-size:14px;
  outline: 2px solid #424242;
  margin-right:10px;
  margin-bottom:5px;
  margin-top: 5px;
}

#thorFCbutton {
  padding:5px 15px;
  background:#85caf5;
   border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
#thorFCdecks{
  margin-right:10px;
  top: 5px;
  background-color:#f05f40;
  width: 93%;
  border: 1px inset #848484;
  outline: 2px solid #424242;
  margin-top: 5px;
}
#bubbleDOM h5{
  text-align: center;
  margin-bottom: 0px;
}
.bubbleEl {
    all: initial;
    font-size:14px;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0.15em;
}
#bubbleDOM div {
    display: block;
}
#bubbleDOM a:hover {
  color: #3399FF;
  text-decoration: none;
  border-bottom: 1px blue dotted;
}
#thorFCnoDecks > h3 {
    font-weight: bold;
}
