body {
    width: 210px;
    height: 210px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; !important
}
input{
    padding: 5px 15px;
    background: #03a9f3;
    border: 1px solid #f4b9ff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 2px;
    left: 5px;
    right: 5px;
    width: 90px;
}
#user{
  background-color: #f05f40;
  border: 1px solid #848484;
  font-weight: bold;
  font-size:12px;
  outline: 2px solid #424242;
  margin-right:10px;
}
#decks {
    cursor: pointer;
    cursor: hand;
}
/*
#decks{
  background-color: #f05f40;
  border: 1px solid #848484;
  font-weight: bold;
  font-size:12px;
  outline: 2px solid #424242;
  overflow-x:hidden;
  border-right:15px;
} */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#logo {
    width: 96px;
    height: 96px;
}
#login1 {
    width: 60px;
    float: left;
}
#register1 {
    width: 60px;
    float: right;
}
#loading > img {
    width: 36px;
    height: 36px;
}
#loading > p {
    text-align: center;
}
#signin {
    display: none;
    font-weight: bold;
}
#signin > p {
    text-align: center;
}
.row {
    padding: 0.5em;
}
a {
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
}
.nopadding {
    padding: 0px;
}
